.container-index {
  overflow: hidden;
  position: relative;
  z-index: 2;
  background: url('/assets/backgrounds/background_light.png') no-repeat center center;
  background-size: cover;
  width: 100vw !important;
  height: 100vh !important;
  overflow-y: scroll;
  margin: 0 !important;
  padding: 0 !important;
}

.container::after{
  content: '';
  height: 8vh;
  display: block;
}

@media (max-width: 390px) {
  .container {
    width: 100%;
    height: auto;
  }
}

.header-pages {
  position: relative;
  padding: 10px;
  text-align: center;
}

/* Positioning the top bar with "Espace Pro" */
.top-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
}

.pro-space {
  font-size: 14px;
  color: #000;
}

/* Center and enlarge the logo */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo img {
  height: 60px; /* Enlarge the logo */
  max-width: 100%;
}

.tagline {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
}

.tagline span {
  color: #CB680B;
}

.banner-img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 20px;
}

.category-tabs {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  background-color: white;
  padding: 5px 0;
  border-radius: 10px;
  margin: 5px 40px 5px 40px;
}

.tab {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 14px;
  color: black;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.tab.active {
  background-color: #CB680B;
  color: white;
  border-radius: 10px;
  padding: 8px 15px;
}

.card-section {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  display: none;
}

.card-section.active {
  display: flex;
}

.card {
  width: 45%;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
}

.card p {
  font-size: 14px;
  color: #000;
}
