<div class="overlay">
  <div class="cross container">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
    </svg>
  </div>
    <div class="title container">
      <h4>Details du produit</h4>
    </div>
    <div class="infos">
      <div class="overlay-image container">
        <img src="https://images.unsplash.com/photo-1491553895911-0055eca6402d?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      </div>
      <div class="item-main-infos">
        <p>
          <strong>Marque</strong><br>
          Paire 2 TN
        </p>
        <p>
          Taille<br><br>
          <strong>€</strong>
        </p>
      </div>
    </div>
</div>
