<div class="add_item container">
  <h3>Scanner le code barre</h3>

    <%= image_tag "backgrounds/scanning.png", id: "scan-image"%>

        <div class="separator">ou</div>

        <div class="manual-input">
            <h3>Saisir manuellement</h3>
        </div>

        <div class="search-bar-container">
            <input type="text" placeholder="Saisissez la référence ici">
            <button>Valider</button>
        </div>
</div>
<%= render("users/footer_sales") %>
