.my_stocks.container {
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  padding: 8px;
  background-image: url('assets/bg-stock.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  z-index: 1;
  padding-bottom: 7vh;
  padding-bottom: 100px;
}


.content-wrapper {
  margin: 0 12px;
}

.title {
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding-top: 12px;
}

.title-stock {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 10px;
}

.search-container {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ddd;
  margin: auto;
  padding-left: 4px;
  padding-right: 4px;
}


.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #908d8d;
  border-radius: 8px;
  font-size: 16px;
  margin-right: 10px;
}

.filter-button {
  border-radius: 8px;
  border-color: transparent;
  background-color: #cb692f;
  font-weight: bold;
  color: white;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
  width: 70px;
}

.inventory-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
  padding-left: 4px;
  padding-right: 8px;
}

.inventory-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: white;
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 70px;
}

.product-info {
  display: flex;
  align-items: center;
  padding-left: 0px;
  gap: 8px;
}

.product-name-stock {
  font-size: 14px;
  margin-right: 4px;
  position: absolute;
  left: 105px;
  max-width: 154px;
  font-weight: bold;
}
.product-name {
  font-size: 12px;
  margin-right: 4px;
}

.product-image {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
}

.product-controls {
  display: flex;
  align-items: center;
}

.total-text {
  margin-right: 4px;
  font-size: 12px;
  display:block;
  justify-content: space-evenly;
}

.quantity-button {
  background-color: #cb692f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  font-weight: bold;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 2px 2px 2px rgb(99, 97, 97);
  width: 30px;
  height: 35px;
}

.quantity-button:hover {
  background-color: #f6b875;
  transition: width .1s;
  -webkit-transition: width .1s;
}

.filter-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow-y: auto;
}

.filter-content {
  background-color: white;
  padding: 20px;
  margin: 100px auto;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
}

.filter-content h2 {
  margin-bottom: 20px;
}

.filter-content label {
  display: block;
  margin: 10px 0 5px;
  text-align: left;
  font-weight: bold;
}

.filter-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #858484;
  border-radius: 8px;
  font-size: 16px;
}

.apply-button, .close-button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.apply-button {
  background-color: #cb692f;
  color: white;
  margin-right: 10px;
  border:1px solid rgb(255, 255, 255);
}

.close-button {
  background-color: black;
  color: white;
}

#fa-solid{
font-size: 60px;
}

// #round-button {
//   position: fixed;
//   bottom: 80px;
//   right: 20px;
//   width: 70px;
//   height: 70px;
//   border-radius: 50%;
//   border: 2px solid rgb(255, 255, 255);
//   box-shadow:8px 8px 16px rgba(0, 0, 0, 0.4);
//   background-color: #cb692f;
//   color: white;
//   font-size: 24px;
//   cursor: pointer;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
//   transition: background-color 0.3s ease;
// }

// .round-button:focus {
//   outline: none;
// }

img.stock-item {
  width: 75px;
  height: 45px;
  position: absolute;
  top: 13px;
}

.item-en-stock-count {
  padding-left: 6px;
}
