<div class="footer-container-sales">
  <div class="footer-icons">
    <div class="footer-icon-item">
      <%= link_to dashboard_path do  %>
        <i class="fa-solid fa-chart-line"></i>
          <% end %>
    </div>
    <div class="footer-icon-item">
      <%= link_to orders_path do  %>
        <i class="fa-solid fa-file"></i>
      <% end %>
    </div>
    <div class="footer-icon-item">
      <%= link_to add_item_to_stock_path do  %>
        <i class="fa-solid fa-barcode"></i>
      <% end %>
    </div>
    <div class="footer-icon-item">
      <%= link_to my_stock_path do  %>
        <i class="fa-solid fa-cart-flatbed"></i>
      <% end %>
    </div>
    <div class="footer-icon-item">
      <i class="fa-regular fa-comments"></i>
    </div>
  </div>
</div>
