<div class="footer-container-sales">
  <div class="footer-icons">
    <div class="footer-icon-item">
      <i class="fa-solid fa-chart-line"></i>
      <span>Tableau de bord</span>
    </div>
    <div class="footer-icon-item">
      <i class="fa-solid fa-file"></i>
      <span>Gestion des commandes</span>
    </div>
    <div class="footer-icon-item">
      <i class="fa-solid fa-barcode"></i>
      <span>Scanner un article</span>
    </div>
    <div class="footer-icon-item">
      <i class="fa-regular fa-comments"></i>
      <span>Chat</span>
    </div>
    <div class="footer-icon-item">
      <i class="fa-solid fa-shop"></i>
      <span>Profil</span>
    </div>
  </div>
</div>
