<div class="footer-container-sales">
  <div class="footer-icons">
    <i class="fa-solid fa-chart-line"></i>
    <i class="fa-solid fa-file"></i>
    <i class="fa-solid fa-barcode"></i>
    <i class="fa-regular fa-comments"></i>
    <i class="fa-solid fa-right-from-bracket"></i>
  </div>
</div>
