<div class="search-bar">
  <input type="text" class="search-model" placeholder="Modèle (e.g., AirMax)">
  <input type="text" class="search-location" placeholder="Ville ou code postal">
  <button><i class="fa-solid fa-magnifying-glass"></i></button>
</div>
