<div class="cart-container">

  <h1>Toutes les commandes</h1>

  <section id="new">
    <h2>Nouvelle commande</h2>
    <div class="new-card">
      <div class="pouf">
        <%= image_tag 'nike-air-max.png', alt:'airmax' %>
        <div class="card-content">
          <h3>Airmax</h3>
          <p>21 Août 2024</p>
        </div>
      </div>
      <div class="card-actions">
        <button class="accept-btn">Accepter</button>
        <button class="decline-btn">Refuser</button>
      </div>
    </div>
  </section>

<section id="order-in-progress">
    <h2>Commandes en cours</h2>
    <div class="new-card">
      <div class="pouf">
        <%= image_tag 'nike-air-max.png', alt:'airmax' %>
        <div class="card-content">
          <h3>Airmax</h3>
          <p>21 Août 2024</p>
        </div>
      </div>
    </div>
</section>

  <section id="order-placed">
    <h2>Commandes passées</h2>
    <div class="new-card">
      <div class="pouf">
        <%= image_tag 'nike-air-max.png', alt:'airmax' %>
        <div class="card-content">
          <h3>Airmax</h3>
          <p>21 Août 2024</p>
        </div>
      </div>
    </div>
  </section>

<div class="footer-container-sales">
  <div class="footer-icons">
    <i class="fa-solid fa-chart-line"></i>
    <i class="fa-solid fa-file"></i>
    <i class="fa-solid fa-barcode"></i>
    <i class="fa-regular fa-comments"></i>
    <i class="fa-solid fa-right-from-bracket"></i>
  </div>
</div>
