.add_item {
  overflow: hidden;
  position: relative;
  z-index: 2;
  background: url('assets/scan.png') no-repeat center center;
  background-size: cover;
  width: 100vw !important;
  height: 100vh !important;
  overflow-y: scroll;
  margin: 0 !important;
  padding: 0 !important;

  h3 {
    padding-top: 20px;
    padding-bottom: 4px;
    margin: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }

  .separator {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 12px solid #fef4df;
    box-shadow: 1px solid #1f1f1f;
    margin: 0 10px;
    border-radius: 16px;
  }

  .manual-input {
    text-align: center;
    margin: 20px 0;
  }

  .search-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding-bottom: 50px;
  }

  input[type="text"] {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #767474;
    width: calc(100% - 16px);
    margin-bottom: 28px;
  }

  button {
    align-self: flex-end;
    padding: 10px 16px;
    border-radius: 12px;
    border-color: transparent;
    background-color: #cb692f;
    font-weight: bold;
    color: white;
    margin-right: 8px;
  }

  button.validate-scan{
    border: none;
  }


  #scan-image {
    height: 330px;
    width: 330px;
    display: block;
    margin: 4px auto 20px;
    padding-bottom: 32px;
    background: url('assets/scanning.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

#barcode-scanner {
  height: 250px;
  width: 250px;
  position:absolute;
  margin-left:40px;
  margin-top:40px;
}
