.container-item {
  overflow: hidden;
  position: relative;
  z-index: 2;
  background: url('assets/background_item.png') no-repeat center center;
  background-size: cover;
  width: 100vw !important;
  height: 100vh !important;
  overflow-y: scroll;
  padding-bottom: 6vh;
}

.product-details-container {
  width: 390px;
  max-width: 100%;
  overflow: hidden;
}

.product-details {
  margin-bottom: 12px;
}

.product-header-items-show {
  display: flex;
  align-items: center;
  padding: 18px;
  position: relative;
  // margin-top: 20px;
}

.back-button {
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #000;
  background-color: #e5c5aa;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #cb680b;
  cursor: pointer;
}

.product-title-items {
  font-size: 24px;
  text-align: center;
  flex-grow: 1;
  color: white;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  position: relative;
}

.product-image-item, .product-image-placeholder-items-show {
  width: 70%;
  height: auto;
  transform: rotate(-35deg);
  margin-bottom: 80px;
}

.product-image-placeholder-items-show {
  height: 150px;
}

.thumbnail-container {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border: 2px solid transparent;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.thumbnail.active {
  border-color: #cb680b;
}

.product-name {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

.product-info-items {
  padding: 10px 20px;
}

.product-details h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.detail-label {
  font-weight: bold;
}

.detail-value {
  text-align: right;
}

.product-description {
  display: none;
  margin-top: 10px;
}

.read-more {
  color: #0b79cb;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 10px;
  display: inline-block;
}

.product-ratings {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.rating-value {
  font-weight: bold;
  color: #000;
}

.rating-count {
  color: #777;
  margin-left: 5px;
}

.rating-stars {
  color: #cb680b;
  margin-left: 10px;
}

.add-to-cart-button {
  background-color: #cb680b;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.size-selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  position: relative;
  background: #f6b980;
  height: 40px;
  border-radius: 999px;
}


.size-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.size-option {
  font-size: 14px;
  color: #000;
  cursor: pointer;
  // transition: background-color 0.3s, color 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  border-radius: 999px;
}

.size-option.active {
  background-color: #ffffff;
  border: 5px solid #f6b980;
  outline: 5px solid #E8DFD2;
  font-weight: 600;
  height: 40px;
  transform: translateY(-5px);
  box-sizing: content-box;

}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 999px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  background-color: transparent;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}
