.footer {
  padding: 10px 0;
  background-color: #EFEFEF;
  border-top: 1px solid #DDD;
}

.footer-container-sales {
  background-color: white;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  height: 11vh;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 15px;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-icon-item {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icon-item a:hover {
  text-decoration: none;
}

.footer-icon-item svg {
  width: 30px; /* Ajustez la taille de l'icône ici */
  height: 30px;
  color: #CB680B;
  transition: color 0.3s, transform 0.3s;

}

.footer-icon-item span {
  display: block;
  margin-top: 5px;
  font-size: 11px;
  font-weight: 600;
  color: #CB680B;
}

.footer-icon-item.active {
  background-color: #cb692f;
  color: white;
  padding: 2px;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 8px;
}

.footer-icon-item.active svg,
.footer-icon-item.active span {
  color: white;
}

.footer-icon-item svg {
  color: #cb692f;
  transition: color 0.3s, transform 0.3s;
}

.footer-icon-item span {
  color: #cb692f;
  transition: color 0.3s;
}
