.footer {
  padding: 10px 0;
  background-color: #EFEFEF;
  border-top: 1px solid #DDD;
}

.footer-container-client {
  background-color: white;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  height: 9vh;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 4px;
}

.footer-icons-client {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-icon-item-client {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icon-item-client svg {
  width: 30px;
  height: 30px;
  color: #cb692f;
  transition: color 0.3s, transform 0.3s;
}

.footer-icon-item-client span {
  display: block;
  margin-top: 5px;
  font-size: 11px;
  color: #cb692f;
  font-weight: 600;
}

.footer-icon-item-client.active {
  background-color: #cb692f;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.footer-icon-item-client.active svg,
.footer-icon-item-client.active span {
  color: white;
}

.footer-icon-item-client svg {
  color: #cb692f;
  transition: color 0.3s, transform 0.3s;
}

.footer-icon-item-client span {
  color: #cb692f;
  transition: color 0.3s;
}

/* Add space on the left side of the first item ("Accueil") */
.footer-icon-item-client:first-child.active {
  margin-left: 10px; /* Adjust this value to control the space */
}

/* Add space on the right side of the last item ("Compte") */
.footer-icon-item-client:last-child.active {
  margin-right: 10px; /* Adjust this value to control the space */
}
