.my_dashboard {
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  width: 100vh;
  padding: 20px;
  background-image: url('assets/background_light.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  z-index: 1;
  padding-bottom: 12vh;
}

#name-merchant{
  margin-left: 12px;
  padding-bottom: 4px;
  color: #545454;
  font-size: 18px;
  text-align: left;
  margin-bottom: 4px;
}

.part-1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 8px;
}

.part-1 h1 {
  color: black;
  font-size: 20px;
  font-weight: 700;
  margin-left: 12px;
  padding-top: 12px;
  padding-bottom: 8px;
}

.part-1 h2 {
  color: #CB680C;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 12px 12px;
}

.part-1 p.total-revenue {
  font-size: 36px;
  color: #CB680C;
  margin: 0;
  padding-bottom: 4px;
  margin: 12px 12px;
}

.kpi {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  margin: 12px 12px;
}

.kpi div {
  display: flex;
  background-color:#f2be8a;
  padding: 2px;
  border-radius: 16px;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  height:70px;
  width: 170px;
  margin-top: 10px;
  box-shadow: 8px 8px 0px 0px #fef4df;

}

.kpi h2 {
  color: #545454;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 4px;
  padding-top: 2px;

}

.kpi p {
  font-size: 20px;
  color: white;
  margin: 0px;

}

.chart {
  padding-bottom: 20px;
  margin-top: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chart h1 {
  padding-top: 8px;
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin: 12px 12px;
}

.chart h2{
  color: #CB680C;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 4px 12px;
}

.chart select {
  margin-bottom: 20px;
}

.best-sellers {
  border-radius: 8px;
  text-align:center;
  padding-bottom: 20px;
}

.best-sellers h1 {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  text-align: left;
  margin: 12px 12px;
  padding-bottom: 12px;
}

.card-best-sellers {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  width: 340px;
  padding: 0 12px;
  box-sizing: border-box;
  margin-bottom:20px;
  width: 100%;
}

.card-best-sellers .card {
  background-color:white;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  -webkit-box-shadow: 4px 4px 0px 2px #F6B875;
  box-shadow: 4px 4px 0px 4px #F6B875;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stock {
  display: flex;
  justify-content: flex-start, space-evenly;
  flex-direction: column;
  border-radius: 8px;
}

.stock h1 {
  font-size: 20px;
  font-weight: 600;
  color: black;
  padding-bottom: 4px;
  margin: 12px 12px;
}

.stock h2 {
  color:#CB680C;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding-bottom: 8px;
  margin: 4px 12px;
}

.stock p {
  color:#CB680C;
  font-size: 36px;
  margin: 12px 12px;
}

#date-value {
  background-color:rgb(254,244,223);
  border-radius: 12px;
  border: 3px solid white;
  padding: 4px;
  -webkit-box-shadow: 2px 2px 0px 1px #555353;
  box-shadow: 1px 1px 0px 1px #585757;
  }

.apexcharts-legend.apexcharts-align-center.apx-legend-position-bottom {
  display: none;
}

#scan-image{
  width: 100%;
  height: 60px; /* Hauteur fixe pour l'image */
  display: block;
  margin: auto;
}
