.cart-container{
  padding: 40px 24px 24px 24px;
  background-image: url('/assets/backgrounds/dash.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  h1,h2{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  h1{
    font-size: 28px;
    margin-bottom: 2rem;
  }
  h2{
    font-size: 22px;
    margin-bottom: 1rem;
  }
  section{
    margin-bottom: 2rem;

  }
}

.new-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  gap: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d26a21;
    padding: 5px;
  }
}

.pouf{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.card-content {
  margin-left: 15px;
  flex-grow: 1;
}

.card-content h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.card-content p {
  margin: 5px 0 0;
  color: #666;
  font-size: 14px;
}

.card-actions {
  display: flex;
  width: 100%;
  gap: 10px;
}

.card-actions button {
  padding: 8px 24px;
  border:2px solid white;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  width: 100%;
}

.accept-btn {
  background-color: #6e8f35;
}

.decline-btn {
  background-color: #474c50;
}
